<%- include('../layout/admin-header.ejs') %>

  <!-- Page Content  -->
  <div id="content" class="p-4 p-md-5 pt-5">
    <h2 class="mb-2">Dashboard</h2>
    <hr class="bg-black">
    
  </div>

  <%- include('../layout/admin-footer.ejs') %>