<%- include('../layout/admin-header.ejs') %>

  <!-- Page Content  -->
  <div id="content" class="p-4 p-md-5 pt-5">
    <h2 class="mb-2">Add Post</h2>
    <hr class="bg-black">   
    <div class="container">
        <form method="POST">
            <div class="row">
                <div class="col-sm-12">
                    <h5>Title</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                  <input type="text" name="title" placeholder="Enter Post Title" required class="w-100">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h5>Content</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                  <textarea  name="content" placeholder="Enter Post Content" required class="w-100"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                  <input  type="submit" class="btn btn-primary" value="Add Post">
                </div>
            </div>
        </form>
        <% 
          if (typeof message !== 'undefined') {
            %>
            <p style="color: green;"><%= message %></p>
            <%
          }
        %> 
      </div>
  </div>
 

  <%- include('../layout/admin-footer.ejs') %>