<%- include('./layout/header.ejs') %>

    <div class="container mb-5">
        <h2>Forgt Password</h2>
        <form  method="POST">
            <input type="email" placeholder="Enter Email here" name="email" required>
            <br><br>
            <input type="submit" value="Forget Password" >

        </form>
        <% 
            if(typeof message != 'undefined'){
                %>
                <p><%= message %></p>
                <%

            }
        %> 
    </div>
<%- include('./layout/footer.ejs') %>