<%- include('./layout/header.ejs') %>

    <div class="container container-100vh">
        <h1>Login</h1>
        <% 
            if (typeof message !== 'undefined') {
                %>
                <p style="color: red;"><%= message %></p>
                <%
            }
        %> 
        <form action="" method="POST">
            <div class="row mt-3">
                <div class="col-sm-12">
                    <input type="email" name="email" placeholder="Enter Email" required>
                </div>       
            </div>
            <div class="row mt-3">
                <div class="col-sm-12">
                    <input type="password" name="password" placeholder="Enter password" autocomplete="off" required>
                </div>    
            </div>
            <div class="row mt-3">
                <div class="col-sm-12">
                    <input type="submit" class="btn btn-info">
                </div>       
            </div>
        </form>
        <a href="/forget-password">Forget Password</a>
    </div>
<%- include('./layout/footer.ejs') %>