<%- include('./layout/header.ejs') %>
    <div class="container mb-5 mt-5">
        <h2>Reset Password</h2>
        <form action="" method="post">
            <input type="password" placeholder="Enter New Password" name="password" required>
            <input type="hidden"  name="user_id" value="<%= user_id %> ">
            <br><br>
            <input type="submit" value="Reset" class="btn btn-info">
        </form>
    </div>

<%- include('./layout/footer.ejs') %>